* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav a {
    border-bottom: 1px solid #dddddd;
    color: #5d5d5d;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 24px;
}

a:active, a:focus {
    font-weight: bold;
    color: #54597d;
    outline: none;
}

h1 {
    text-align: center;
    font-size: 90px;
}

h1, main {
    margin-bottom: 250px;
}

h2 {
    color: #484747;
    font-size: 62px;
}

article {
    color: #5d5d5d;
    padding: 0 67px;
}

article p {
    font-size: 30px;
    text-align: justify;
    text-indent: 38px;
}

.up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5ebcff;
    border: none;
    box-shadow: 10px 10px 20px 0px #ddd;
}

.up a {
    color: #fff;
    font-size: 30px;
}

.up:focus {
    outline: none;
}

@media screen and (min-width: 576px) {
    body {
        background-color: #0a1223;
    }

    .up {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        border: none;
        padding-right: 50px;
        padding-left: 0;
    }

    nav a:last-child {
        padding-right: 0;
    }

    a:active, a:focus {
        font-weight: normal;
    }

    h1 {
        color: #ffffff;
        font-size: 72px;
        margin-top: 250px;
    }

    h2 {
        font-size: 48px;
        background: linear-gradient(to right, #fff, #fff, #333 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #00000057;
    }

    article {
        padding: 0 120px;
    }

    article p {
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {

    nav {
        justify-content: flex-end;
    }

    nav a:last-child {
        padding-right: 50px;
    }

    h2 {
        font-size: 26px;
    }

    article {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    article > div {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    }

    article img {
        width: 50%;
    }

    article p {
        font-size: 18px;
    }

}
