@media print {
    nav, #about, .heading, .blocks, #contact, .carousel-inner, .img-fluid, #ideas {
        display: none;
    }

    .tm-main-content {
        margin: 0;

    }

    body {
        width: 100%;
    }

    .tm-banner {
        height: 250px;
        border-width: 2px;
        width: 100%;
        margin: 0;
    }

    .flex-2-col {
        display: flex;
        flex-direction: column;

    }

    .tm-content-box {

        padding: 0;
        margin: 0;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    .pad {
        padding: 0 50px;
    }

    .tm-footer {
        margin-top: 15px;
    }

    h2.tm-section-title {
        color: blue;
    }

}

@media screen {
    img.thumbnail {
        border-radius: 50%;
    }

    .tm-banner {
        padding-top: 0;
    }

    .tm-box-bg-title:hover {
        background-color: #76cdd7;
        color: white;
        font-weight: bold;
    }

    p::first-letter {
        color: #76cdd7;
        font-size: 30px;
    }

    .tm-footer p:first-letter {
        color: dimgrey;
        font-size: 17px;
    }

    .tm-sidebar, #home,
    section {
        box-shadow: 0 0 10px 0 #2b2d2f;
    }

    #home::before, section::before {
        content: '';
        display: inline-block;
        border-top: 30px solid #76cdd7;
        border-right: 130px solid transparent;
    }

    .carousel-inner h2 {
        color: gainsboro;
        letter-spacing: 5px;
    }

    h2 + p {
        font-style: italic;
    }

    p:not(.tm-banner-text) {
        text-indent: 20px;
        line-height: 30px;
    }

    .pad a {
        color: black;
    }

    .pad a:visited {
        color: silver;
    }

    .pad a:hover {
        text-decoration: underline double;
        color: #2aabd2;
    }

    .pad li:first-child:after, .pad li:nth-child(3):after {
        content: "New";
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -0.5em;
        color: red;
    }

    .box p::first-letter {
        color: #616161;

    }

    .blocks li.box:nth-child(odd) {
        background: #e7e7e7;
    }

    .box p {
        text-indent: 0;
        font-size: 25px;
        color: grey;
        text-align: left;
    }

    .box h2 {
        font-size: 45px;
        text-align: left;
    }

    .tm-nav-item:not(:last-of-type) {
        border-bottom: lightgrey dotted 2px;
    }

    input[type=text] {
        color: red;
    }

    button[type=submit] {
        color: red;
    }

    .mandatory-field:after {
        content: "*";
        color: red;
    }

    .submit-btn:hover {
        background-color: #2aabd2;
        color: white;
    }
}
