$navigationBar: #1fbcd3;
$placeholderForm: #757575;
$formInputBorder: #617d8a;
$navBorder: 2px solid $formInputBorder;
$articleBackground: #efefef;
$articleHeading: #1697a6;
$articleDate: #15958e;
$articleDateBorder: 1px solid #617d8a;
$aboutHeader: #1fbcd3;
$aboutParagraph: $formInputBorder;
$contactInfo: $navigationBar;
$formButton: $navigationBar;
$defaultFont: Arial, sans-serif;
$backgroundColor: white;