$navigationBar: #fc5830;
$placeholderForm: #757575;
$formInputBorder: #cfd8dc;
$navBorder: 2px solid $formInputBorder;
$articleBackground: white;
$articleHeading: #617d8a;
$articleDate: #bdbdbd;
$articleDateBorder: 1px solid #cfd8dc;
$aboutHeader: $navigationBar;
$aboutParagraph: $placeholderForm;
$contactInfo: $navigationBar;
$formButton: $navigationBar;
$defaultFont: "Times New Roman", serif;
$backgroundColor: #efefef;